<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="baidu-site-verification" content="cNitg6enc2">
<link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<title>首页</title>
<body>

<h3> {{ title }}</h3>
<br />

<a href="{{ url_for('.login') }}">点击登陆</a>
<br />
<hr>
<a href="{{ url_for('.register') }}">点击注册</a>
<hr>
<a href="{{ url_for('.list') }}">用户列表</a>
<hr>

</body>
</html>
