<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="baidu-site-verification" content="cNitg6enc2">
<link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<title>注册页面</title>
<body>
<style>

.lfff{
  position: relative;
  top: 150px;
  left: 100px;
}
.rfff{
  position: absolute;
  top: 150px;
  left: 45%;
}
</style>

<div class="lfff">
  <p>
    Built for developers<br />
    GitHub is a development platform inspired by the way you work.<br />
    From open source to business, you can host and review code,<br />
    manage projects, and build software alongside millions of other developers<br />
  </p>
</div>
<form action="" method="post" class="form-inline" role="form">
<div class="rfff">
<table class="table table-bordered">

<tr>
      <td><span>Username:</span></td>
      <td><input type="text" name="username" placeholder="Pick a username"></td>
</tr>
<tr>
      <td><span>Password:</span></td>
      <td><input type="password" name="pwd" placeholder="Create a password"></td>

</tr>
    <tr>
      <td><span>Email:</span></td>
      <td><input type="text" name="mail" placeholder="Create a password"></td>
    </tr>
<tr>
  <td>
    <button type="submit" class="btn btn-primary">提交</button>
  </td>
</tr>

</table>
</form>
</div>


</body>
</html>
