@charset "utf-8";

* {
    box-sizing: border-box;
}

html {
    font-family: "Microsoft Yahei", "微软雅黑", "Arial", "sans-serif";
    font-size: 12px;
}

body {
    background-color: #A9F5A9;
}

body, h1 {
    margin: 0;
    padding: 0;
}


.content {
    margin: 150px auto 0;
    width: 800px;
    height: 350px;
    background-color: #424242;
}

.content .title {
    font-family:  "华文行楷","Microsoft Yahei", "Arial", "sans-serif";
    font-size: 3.5rem;
    color: #0088cc;
    font-weight: normal;
    letter-spacing: 5px;
    text-align: center;
    padding-top: 70px;
}

.content .topic {
    font-size: 5rem;
    font-style: normal;
    font-weight: bolder;
}

.showResult {
    width: 400px;
    height: 100px;
    margin: 30px auto 0;
    font-size: 2.5rem;
    text-align: center;
    color: #777;
    font-weight: bold;
    border: 1px solid #f5f5f5;
    line-height: 100px;
}

.showResult i {
    font-style: normal;
}


.back {
    text-align: center;
    padding-top: 20px;
}

.back a {
    font-size: 1.5rem;
    color: #0088cc;
}

.back a:hover {
    color: #ffffff;
    background-color: #0088cc;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
}