<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Reboot Actual 16</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #1 for blank page layout" name="description" />
        <meta content="" name="author" />
		
        <link href="/static/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="/static/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
	<link href="/static/imgs/favicon.ico" rel="shortcut icon" /> 

        <style>
            @media (min-width: 768px){
                .navbar-nav>li>a {
                    padding-top: 10px;
                    padding-bottom: 11px;
                }
            }
        </style>
	</head>

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
        <div class="page-wrapper">
            <div class="page-header navbar navbar-fixed-top">
                <div class="page-header-inner ">
                    <div class="page-logo">
                        <a href="/">
                            <img src="/static/layouts/layout/img/logo.png" alt="logo" class="logo-default" /> </a>
                        <div class="menu-toggler sidebar-toggler">
                            <span></span>
                        </div>
                    </div>
                    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                        <span></span>
                    </a>
                        <ul class="nav navbar-nav pull-right">
                            <li class="dropdown dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <img alt="" class="img-circle" src="/static/layouts/layout/img/avatar3_small.jpg" />
                                    <span class="username username-hide-on-mobile"> actual6 </span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="/logout"><i class="icon-key"></i> 退出 </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="clearfix"> </div>

            <div class="page-container">
                <div class="page-sidebar-wrapper">
                    <div class="page-sidebar navbar-collapse collapse">
                        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                            <li class="sidebar-toggler-wrapper hide">
                                <div class="sidebar-toggler">
                                    <span></span>
                                </div>
                            </li>
                            <li class="nav-item  ">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="icon-diamond"></i>
                                    <span class="title">用户管理</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="/users" class="nav-link ">
                                            <span class="title">用户列表</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="page-content-wrapper">
                    <div class="page-content">
					
                        <div class="page-bar">
                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="/">Home</a>
                                    <i class="fa fa-angle-right"></i>
                                </li>
                                <li>
                                    <span>用户管理</span>
                                </li>
                            </ul>
                        </div>
                        
						
						 <div class="row">
							<div class="col-md-12">
							
								<div class="portlet light">
									<div class="portlet-body">
										<div class="table-toolbar">
											
										</div>
									
										<div class="portlet">
											<div class="portlet-body">

                                                    <form class="form-horizontal" action="/users/add" method="POST" onsubmit='return check()'>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">Username
                                                                <span class="required" aria-required="true"> * </span>
                                                            </label>
                                                            <div class="col-md-4">
                                                                <input type="text" class="form-control" id="username" name='username'>
								<div id='checkuserinfo' style="color:red"></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">Password
                                                                <span class="required" aria-required="true"> * </span>
                                                            </label>
                                                            <div class="col-md-4">
                                                                <input type="password" class="form-control" name='password' id="submit_form_password">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">Confirm Password
                                                                <span class="required" aria-required="true"> * </span>
                                                            </label>
                                                            <div class="col-md-4">
                                                                <input type="password" class="form-control" id="rpassword">
								<div id='comparepasswd' style="color:red"></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">Email
                                                                <span class="required" aria-required="true"> * </span>
                                                            </label>
                                                            <div class="col-md-4">
                                                                <input type="text" class="form-control" id="email" name='email'> 
								 <div id='checkemailinfo' style="color:red"></div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-offset-3 col-md-9">
                                                            <button type="submit" class="btn green button-submit">Submit<i class="fa fa-check"></i></button>
                                                             <h3 style="color:red">{{ errmsg }}</h3>
                                                        </div>
                                                    </form>
											</div>
								        </div>
									</div>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>

            <div class="page-footer">
                <div class="page-footer-inner"> 2017 &copy; fengxiaoli. All rights reserved.</div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>
        </div>
      
        <!-- BEGIN CORE PLUGINS -->
        <script src="/static/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="/static/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/static/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="/static/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="/static/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="/static/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <script src="/static/global/scripts/app.min.js" type="text/javascript"></script>
        <script src="/static/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
        <script src="/static/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
        <script src="/static/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="/static/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
        <script>
            $(document).ready(function()
            {
                $('#clickmewow').click(function()
                {
                    $('#radio1003').attr('checked', 'checked');
                });
            })

            function checkuser(username){
                    if ( username == '' ) {
                            $('#checkuserinfo').html('Username is null')
                            return false
                    }
                    else {
                            $('#checkuserinfo').html('')
                    }
                    return true
            }


            function checkemail(email){
                    if ( email == '' ) {
                            $('#checkemailinfo').html('Email is null')
                            return false
                    }
                    else {
                            $('#checkemailinfo').html('')
                    }

                    var re =  /^(\w)+(\.\w+)*@51reboot$/;
                    if (!re.test(email)) {
                           $('#checkemailinfo').html('This email format is not correct. Please use *@51reboot.')
                           return false

                    }
                    return true

            }

            function checkpasswd(password){
                    if ( password == '' ) {
                            $('#checkpasswd').html('Password is null')
                            return false
                    }
                    else {
                            $('#checkpasswd').html('')
                    }
                    return true
            }

            function checkrpasswd(rpassword){
                    if ( rpassword == '' ) {
                            $('#comparepasswd').html('Confirm password is null')
                            return false
                    }
                    else {
                            $('#comparepasswd').html('')
                    }
                    return true
            }


           function check(){

                    var username = $('#username').val().trim()
                    var email = $('#email').val().trim()
                    var password = $('#password').val().trim()
                    var rpassword = $('#rpassword').val().trim()

                    if (!checkuser(username))
                            return false
        
                    if (!checkemail(email))
                            return false
        
                    if (!checkpasswd(password))
                            return false
        
                    if (!checkrpasswd(rpassword))
                            return false
    
		    return true
           }



            $('#username').change(function(){
                    var username = $('#username').val().trim()

                    if (!checkuser(username))
                            return false 
    
                    type = 'POST'
                    url = '/checkuser'
                    data = {username:username}
    
                    $.ajax({
                            type: type,
                            url: url,
                            data: data,
                            dataType: "json",
                            success: function(data){
                                    if (data['status'] == 1) {
                                        $('#checkuserinfo').html('This user exist. Please change another username!')
                                            return false
                                    }
                                    else {
                                        $('#checkuserinfo').html('')
                                    }
                            },
                            error: function(){
                                    $('#errorstatus').html('Sorry. The server has an exception!')
				    return false
                            },
    
                    })
    
             })
    
            $('#email').change(function(){
                    var email = $('#email').val().trim()
                    if (!checkemail(email))
                            return false
    
                    type = 'POST'
                    url = '/checkemail'
                    data = {email:email}
    
                    $.ajax({
                            type: type,
                            url: url,
                            data: data,
                            dataType: "json",
                            success: function(data){
                                    if (data['status'] == 1) {
                                        $('#checkemailinfo').html('This email exist. Please change another email!')
					console.log('email exist')
                                        return false
    
                                    }
                                    else {
                                        $('#checkemailinfo').html('')
					console.log('email do not exist')
                                    }
                            },
                            error: function(){
                                    $('#errorstatus').html('Sorry. The server has an exception!')
				    return false
                            },
    
                    })
    
            })
    
            $('#password').change(function(){
                    var password = $('#password').val().trim()
                    if (!checkpasswd(password))
                            return false
    
            })
    
            $('#rpassword').change(function(){
                    var password = $('#submit_form_password').val().trim()
                    var rpassword = $('#rpassword').val()
                    if (!checkrpasswd(rpassword))
                            return false
    
                    if ( password != rpassword ) {
                            $('#comparepasswd').html('The password and confirm password are different!')
                            return false
                    }
                    else {
                            $('#comparepasswd').html('')
                    }
    
    
            })


        </script>
    </body>

</html>
